* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    color: rgb(170, 170, 170);
}


/***ACCORDION***/


.accordion-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.accordion-wrapper .task-name {
    line-height: 2.0rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(110, 40, 40);
    margin: 1rem 0 0 1rem;
}

.accordion-wrapper:hover {
    color: rgb(205, 155, 75);
}

.accordion-wrapper:hover .icon {
    opacity: 1.0;
}


/***LABELS AND CONTENTS***/


span {
    margin: 0 0 0 1rem;
}

img {
    height: 0;
    margin: 0rem auto 0rem auto;
    transition: 0.4s all linear;
}

label {
    display: flex;
    align-items: center;
    background-color: rgba(25, 85, 15, 0.75);
    border-radius: 1.0rem;
    cursor: pointer;
}

.content {
    background-color: rgba(25, 85, 15, 0.25);
    border-radius: 1.0rem;
}

.section {
    border-top: solid 0.25rem #383838;
    border-bottom: solid 0.25rem #383838;
    border-radius: 1.2rem;
    line-height: 2.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.section:active .tab {
    color: rgb(255, 255, 255);
    background-color: rgb(115, 85, 15);
    transition: 0.15s all linear;
}

.section:active .content {
    filter: brightness(60%);
    transition: 0.15s all linear;
}

.icon {
    height: 0.8rem;
    margin: 0rem 1rem 0rem auto;
    opacity: 0;
    transition: 0.4s all linear;
}


/***INPUT***/


input {
    display: none;
}

.section:hover .content img,
input:checked ~ .content img {
    height: 10rem;
    margin: 0.3rem auto 0.3rem auto;
}

input:checked ~ .tab {
    background-color: rgb(115, 85, 15);
    color: rgb(255, 255, 255);
}

.section:hover .icon,
input:checked ~ .tab .icon {
    transform: rotate(-90deg);
}


/***MEDIA-SOLUTION***/


@media (min-width: 550px) and (max-width: 820px) {
    .accordion-wrapper .task-name {
        line-height: 3.0rem;
        font-size: 1.5rem;
    }

    .section {
        border-top: solid 0.3rem #383838;
        border-bottom: solid 0.3rem #383838;
        border-radius: 1.2rem;
        line-height: 3.0rem;
        font-size: 1.2rem;
    }

    .icon {
        height: 1.2rem;
        opacity: 0;
    }

    .section:hover .content img,
    input:checked ~ .content img {
    height: 14rem;
    margin: 0.4rem auto 0.4rem auto;
    }
}



@media (min-width: 821px) and (max-width: 1920px) {
    .accordion-wrapper .task-name {
        line-height: 3.5rem;
        font-size: 2.0rem;
    }

    .section {
        border-top: solid 0.35rem #383838;
        border-bottom: solid 0.35rem #383838;
        border-radius: 1.3rem;
        line-height: 3.3rem;
        font-size: 1.4rem;
    }

    .icon {
        height: 1.4rem;
        opacity: 0;
    }

    .section:hover .content img,
    input:checked ~ .content img {
    height: 16rem;
    margin: 0.5rem auto 0.5rem auto;
    }
}



@media (min-width: 1921px) {
    .accordion-wrapper {
        width: 75%;
    }

    .accordion-wrapper .task-name {
        line-height: 4.0rem;
        font-size: 2.5rem;
    }

    .section {
        border-top: solid 0.5rem #383838;
        border-bottom: solid 0.5rem #383838;
        border-radius: 1.3rem;
        line-height: 3.8rem;
        font-size: 1.8rem;
    }

    .icon {
        height: 2.0rem;
        opacity: 0;
    }

    .section:hover .content img,
    input:checked ~ .content img {
    height: 20rem;
    margin: 0.5rem auto 0.5rem auto;
    }
}


/***MEDIA-HOVER***/


@media (hover: none) {
    html {
        color: rgba(205, 155, 75, 1);
    }

    .icon {
        opacity: 1;
    }
}