* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: rgba(205, 155, 75, 0.7);
}


/***ACCORDION***/


.accordion-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}

.accordion-wrapper .task-name {
    line-height: 6.0rem;
    font-size: 3.0rem;
    font-weight: 700;
    color: rgb(110, 40, 40);
    margin: 0 0 0 2rem;
}

.accordion-wrapper:hover {
    color: rgb(205, 155, 75);
}

.accordion-wrapper:hover .icon {
    opacity: 1.0;
}



/***LABELS AND CONTENTS***/


span {
    margin: 0 0 0 2rem;
}

img {
    height: 0;
    margin: 0rem auto 0rem auto;
    transition: 0.4s all linear;
}

label {
    display: flex;
    align-items: center;
    background-color: rgba(25, 85, 15, 0.75);
    border-radius: 1.5rem;
}

.content {
    background-color: rgba(25, 85, 15, 0.25);
    border-radius: 1.5rem;
}

.section {
    border-top: solid 0.5rem #383838;
    border-bottom: solid 0.5rem #383838;
    border-radius: 2.0rem;
    line-height: 5.0rem;
    font-size: 2.0rem;
    font-weight: 700;
}

.section:active .tab,
.section:hover .tab {
    color: #ffffff;
    background-color: rgb(115, 85, 15);
}

.section:active .content img {
    filter: brightness(60%);
}

.icon {
    height: 2.0rem;
    margin: 0rem 2rem 0rem auto;
    opacity: 0;
    transition: 0.2s all linear;
}


/***INPUT***/


input {
    display: none;
}

.section:hover .content img,
input:checked ~ .content img {
    height: 25rem;
    border-radius: 1rem;
    margin: 1rem auto 1rem auto;
}

input:checked ~ .tab {
    background-color: rgb(115, 85, 15);
    color: rgb(255, 255, 255);
}

.section:hover .icon,
input:checked ~ .tab .icon {
    transform: rotate(-90deg);
}